*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: blue;
}

.hola-mundo{
    background-color: cadetblue;
    text-align: center;
    max-width: 650px;
    margin: 15px auto;
}

@medai(max-width: 550px){
    .hola-mundo{
        background-color:red;
    }
}
